<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      VASPA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
    <h2 class="ion-text-center">Sistema VASPA - Aplicación Móvil </h2>
    <br>
    <p class="ion-margin-horizontal">
      Bienvenido a la Aplicación Móvil del Sistema VASPA. Aquí podrá buscar y visualizar Programas de Asignaturas de la UNPA-UARG.
    </p>
    <p class="ion-margin-horizontal">
      Para comenzar, presione el icono a continuación:
    </p>
    <div class="ion-text-center">
        <a routerLink="/seleccionar-carrera" routerDirection="root"><img width="250" height="250" src="/assets/imgs/VASPA v1.1 500x500.png"/></a>
  </div>
</ion-content>